/* Universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
}

/* NAV (REQUIRED) */
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

/* MAIN (REQUIRED) */
main {
    max-width: 840px;
    margin: 0 auto;
}

/* HERO */
.hero {
    padding: 20px;
}

/* MAIN IMAGES (REQUIRED) */
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Aside */
 aside
  { 
    width: 30em; margin: 1em; border: 1px solid rgba(0,0,0,0.2);
    padding: 1em; background-color: var(--aside-bg); 
    text-align:center;
 }
 aside img {
    width: 200px; height: auto;
 }

/* PARAGRAPH (REQUIRED EXACT) */
p {
    padding: 0;
}

/* FOOTER (REQUIRED) */
footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

/* SOCIAL MEDIA */
.socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.socialmedia img {
    width: 30px;
}