 body, h1{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: steelblue;
    color: #ffffff; 
    padding: 10px 20px;
    text-align: flex-start;
}
nav{
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: #eee;
    padding: 10px;
    display: block;
}
 
h1{
    color: steelblue;
}



main img {
width: 150px;
height: auto;
border: 1px solid steelblue;
padding: 2px;
box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

aside{
    width:30em;
    margin: 1em;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1em;
    background-color:#eee ;
    color: #333;
    text-align: center;
}

    aside img{
        width: 300px;
        height: auto;
    }

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 5px 0;
    }

    main, aside {
        padding: 10px;
    }
}

